body {
    margin: 0;
    background-color: rgb(244, 244, 245);
}

.container-fluid {
    min-height: 150px;
}

.header {
    background-color: rgb(49, 88, 196);
}

.logo {
    text-align: center;
    font-size: 180%;
    margin-top: 1%;
}

.nom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    color: black;
}

/*Dans la nav*/
nav ul {
    background-color: rgb(49, 88, 196);
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -15px;
}

nav li {
    display: inline-block;
    width: 180px;
    text-align: center;
    line-height: 40px;
}

nav li :hover {
    background-color: #3388bb;
}

nav li a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.col-md-12 {
    padding-right: 0px;
}

/* aside*/
.col-md-4.aside {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 0.4%;
    background: rgb(49, 88, 196);
}

.col-md-4.aside ul li {
    width:100%;
    list-style: none;
    text-decoration: none;
    
}

.col-md-4.aside h3 {
    width: 100%;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

/*Section*/
.col-md-8.section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 0.4%;
    height: auto;
    text-align: center;
    background: rgb(49, 88, 196);
    padding-bottom: 7%;
}

.item {
    margin-top: 7%;
    margin-left: 1%;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    width: 100%;
    bottom: 0;
    margin-top: 1%;
    font-size: 200%;
    background-color: rgb(49, 88, 196);
    text-align: center;
}

/* @media (min-width: 320px) and (max-width: 768px) {
    .col-md-10 {
        padding-left: 0px;
    }

    .item {
        width: 2;
    }

    .section {
        margin-top: 0.9%;
    }

    .col-md-2 {
        margin-left: 1px;
        box-sizing: border-box;
    } */

    /* .aside {
        height: auto;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
    } */


/* @media all and (min-width: 768px) and (max-width: 1400px) {
    .col-md-2 {
        height: auto;
        background-color: rgb(49, 88, 196);
        height: 100%;
    }
} */